@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
}

* {
    scroll-behavior: smooth;
}

:root {
    --k: #c23282;
    --k-lighter: #ff9fd9;

    --bg-button: #241424;

    font-family: "Inter", system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.8);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--k);
    text-decoration: inherit;
}

a:hover {
    color: var(--k-lighter);
}

footer a {
    color: #93c0ff;
}

footer a:hover {
    color: #6aa7fc;
}

hr {
    border: none;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

body {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    line-height: 1.1;
    margin: 0;
    padding-right: 10px; /* visual fix */
    color: var(--k);
    letter-spacing: -0.04em;
    font-weight: 700;
    font-size: 4rem;
}

.markdown {
    color: #ddd;
    font-weight: 400;
    letter-spacing: -0.025em;
    line-height: 135%;
}

.markdown ul {
    list-style: unset;
}

.markdown li {
    margin-left: 20px;
}

.markdown h1 {
    font-size: 2.5em;
    color: #fff;
}

.markdown h2 {
    font-size: 1.5em;
    color: #eee;
    line-height: 165%;
    font-weight: 600;
}

.markdown h3 {
    font-size: 1.25em;
    line-height: 145%;
    font-weight: 500;
}

button {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--bg-button);
    cursor: pointer;
    -webkit-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
}
button {
    background-color: var(--k);
    -webkit-transition:
        scale 0.15s,
        opacity 0.15s;
    -o-transition:
        scale 0.15s,
        opacity 0.15s;
    transition:
        scale 0.15s,
        opacity 0.15s;
    color: #fff;
}
button:hover {
    opacity: 0.9;
}
button:active {
    opacity: 0.75;
    scale: 0.9;
}
button.button-unsupported {
    cursor: auto;
    opacity: 1;
    scale: 1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.app-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
}

.app-main-cont {
    padding: 20px;
    max-width: 100%;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#app {
    max-width: 1800px;
    margin: auto;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.hidden {
    display: none;
}

dialog::-webkit-backdrop {
    background-color: #00000040;
    pointer-events: none;
}

dialog::backdrop {
    background-color: #00000040;
    pointer-events: none;
}

.grad {
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--k)),
        color-stop(var(--k-lighter)),
        to(var(--k))
    );
    background: -o-linear-gradient(left, var(--k), var(--k-lighter), var(--k));
    background: linear-gradient(90deg, var(--k), var(--k-lighter), var(--k));
    background-size: 800% 800%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: gradientMove 10s ease infinite;
    animation: gradientMove 10s ease infinite;
    line-height: 120%;
}

@-webkit-keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    70% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    70% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* w3schools ftw */

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

.slides {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    height: 500px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -32px;
    max-width: 60px;
    border-radius: 10px;
    padding: 20px;
    max-height: 60px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prev {
    left: 50px;
}

/* Position the "next button" to the right */
.next {
    right: 50px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.number-text {
    color: #f2f2f2;
    background-color: #151515;
    border: 2px solid #2a2a2a;
    font-size: 12px;
    border-radius: 10px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #3a2a3a;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}

.active {
    background-color: var(--k);
}

.dot:hover {
    background-color: #ffe6f090;
}

.slides img {
    width: 600px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 10px;
    -webkit-animation: fade 1s;
    animation: fade 1s;
}

@-webkit-keyframes fade {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes fade {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@media only screen and (max-width: 1000px) {
    .slideshow-container {
        width: calc(100vw - 40px);
    }

    .platforms {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .details {
        -ms-grid-columns: 50%;
        grid-template-columns: 50%;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }

    .details > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-row: 1;
        grid-column: 1;
    }
}

/* hack */
.mt-auto.flex.flex-row.gap-2.items-center svg {
    width: 25px;
    height: 25px;
}

@media only screen and (min-width: 2000px) {
    #app {
        overflow: visible;
    }

    footer {
        border-radius: 50px 50px 0px 0px;
    }
}

@-webkit-keyframes fadeInDialog {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes fadeInDialog {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

dialog[open] {
    -webkit-animation: fadeInDialog 0.3s ease-out forwards;
    animation: fadeInDialog 0.3s ease-out forwards;
}

dialog {
    min-width: 40vw;
}
